
AlAl.txt
alltumAlign.cbp
alltumAlign.depend
alltumAlign.layout
exf.sh
loger.txt
panel.txt
panel_ids.txt
runi
runi_only_refl
runi_tila
runi_tila_2021
runi_tila_2021_spring
runi_tila_2021_summer
runi_trans.sh
runi_trans1.sh
runi_trans2.sh
runi_trans3.sh
runi_trans4.sh
runi_trans5.sh
squares.jpg
test_reflectanceImage.tif
testi.tif
trans.sh
